body {
    background-color: #252525;
    margin:0;
    
}
h1 {
    display:inline-block;
    font-family: 'Almendra', serif;
    margin: 0;
    text-shadow: 1px 1px #ffe58e;
}
h3 {
    color: #6930c3;
    font-family: 'Almendra', serif;
    font-size: 180%; 
    margin: 3% 0 0;
    
    
}
h4 {
    color:#f4f5db;
    position: absolute;
    right: 2%;
    top: 14%;

}
hr {
    border-style: solid;
    background-color:#64dfdf;
    color:#64dfdf;
    margin: 0;
    height: 5px;
}


iframe {
    border: none;
}

.Top-container {
    background-color: #252525;
    color: #ffd342;
    font-size: 200%;
    font-style: italic;
    padding: 3% 2% 4%;
    
    
}
#wand {
    position: absolute;
    right: 50%;
    top: 1%;
}

.Middle-container {
    background-color: #6930c3;
    padding: 0.5%;
}

.Bottom-container {
    background-color:white;
    color:#252525;
    font-size: 120%;
    margin: 0 10% 5%;
    padding: 2%;
    text-align: center;
    width: 50%;
    
}
.menu {
    color: white;
    font-size: 130%;
    margin: 10px;
    text-decoration: none;
  
}

.menu:hover {
    color:#64dfdf;
}

.text-images {
    margin-bottom: 2%;
}

.ad-1 {
    background-color: white;
    border-radius: 400px;
    color:#6930c3;
    font-size: 150%;
    margin: 0;
    position: absolute;
    right: 8%;
    top: 110%;
    text-align: center;
    
    
}
.ad-1 iframe {
    margin: 0;

}
.potion-name { 
    font-style: italic;
    margin: 45px 0 0;

    
}
.info {
    margin: 0 0 45px;
}

.ad-2 {
    background-color: white;
    color: #6930c3;
    font-size: 150%;
    position: absolute;
    right: 8%;
    top: 45%;
    text-align: center;
}

span {
    font-style: italic;
}


.Bottom-container2 {
    background-color: white;
    color: #252525;
    display: inline-block;
    font-size: 120%;
    margin: 0 23% 5%;
    padding:2%;
    text-align: center;
    width: 50%;
}

.Bottom-container2 h5 {
    color: #6930c3;
    font-family: 'Almendra', serif;
    font-size: 180%;
    margin: 1% 0;

}
.Bottom-container2 p {
    margin:0;
}
.Bottom-container2 li {
    margin-left: 1%;
    text-align:left;
}
.Bottom-container2 iframe {
    margin-bottom: 2%;
}
.books {
    margin: 0;
    margin-left: 1%;
    text-align: left;
}

.Bottom-container3 {
    background-color:white;
    font-size: 130%;
    margin:4% auto 5% 30% ;
    padding: 0.5%;
    width: 40%;
    
}
#contact {
    color:#6930c3;
    font-family: 'Almendra', serif ;
    font-size: 150%;
    text-align: center;
    margin: 5% 0 3%;
}
#email-spacing {
    margin-bottom: 5%;
}
.upper-info {
    color:#252525;
    margin-left: 5%;
}

.form { 
    color: #252525;
    

}
input {
    background-color:rgb(226, 226, 226);
    border-style: none;
    margin: 0 auto 2% 5%;
    padding: 1%;
    width: 90%;
    

}
input:focus {
    outline:none;
    border-style: solid;
    border-color: #7e3ce7;
    border-width: 1px;
}
textarea {
    background-color:rgb(226, 226, 226);
    border-style: none;
    margin: 0 auto 4% 5%;
    padding: 1%;
    width: 60%;

}

textarea:focus {
    outline:none;
    border-style: solid;
    border-color:#7e3ce7;
    border-width: 1px;
}

label {
    margin-left: 5%;
    text-align: left;
}
.button {
    background-color: #6930c3;
    border-radius: 60px;
    color: white;
    font-family: serif;
    font-size: 90%;
    margin-left: 35%;
    width: 30%;
}

.button:hover {
    background-color:#7e3ce7;
    
}

.mail {
    position:absolute;
    top: 30%;
    right: 2%;
    
}
.bottom-info {
    background-color:#6930c3;
    height: 16px;
    margin:0;
    padding: 0.3%;
    
    

}

.bottom-info p {
    color:white;
    margin: 0; 
    position: absolute;
    right: 2%;

}